.icon-search {
  background-image: url('../assets/icons/search.svg') !important;
}

.icon-settings {
  background-image: url('../assets/icons/settings.svg') !important;
}

.icon-user {
  background-image: url('../assets/icons/user.svg') !important;
}

.icon-help {
  background-image: url('../assets/icons/help.svg') !important;
}

.icon-turnoff {
  background-image: url('../assets/icons/turnoff.svg') !important;
}