<app-panel>

    <app-panel-header>

        <div class="logo">
            <img src="assets/logos/allur@0.50x.png" alt="Allur Logo">
        </div>

        <button class="panel-search-trigger icon-search"></button>
        <input type="search" name="panel-search" data-placeholder="PANEL_SEARCH">

    </app-panel-header>

    <app-panel-footer>

        <button class="icon-settings panel-settings-trigger"></button>
        <button class="icon-user panel-user-trigger"></button>
        <button class="icon-help panel-help-trigger"></button>
        <button class="icon-turnoff panel-close-trigger"></button>

    </app-panel-footer>

</app-panel>